<!DOCTYPE html>
{% extends "mytemplate.jinja2" %}
{% block cssstyle %}

    <style>

      IMG.displayed {
    display: block;
     margin-top: 50px;
    margin-left: auto;
    margin-right: auto }


 
    table, th, td {
  
  
    border-collapse: collapse;
    border-spacing: 10px;

}

th, td {
    padding: 15px;
    text-align: center;
    color: #fffffff;
     font-weight: 1000;
}
table#t01 tr:nth-child(even){
    background-color: #bc2131;
     color: #f2b7bd; 
    font-weight: 600;
}

table#t01 tr:nth-child(odd) {
   background-color:#960018; 
    color: #f2b7bd;
    font-weight: 600;
}



  </style>
{% endblock cssstyle %}

              {% block welcome %}
              <h1 class="lead"><span class="font-normal"><ins>${groupnameC}</ins></span> <span class="smaller">&nbsp;Laptops Inventory</span></h1>
              
            </div>
            <table id="t01" aligh="center" style="margin: 0px auto; ">
  <tr>
    <th>Laptop</th>
    <th>Availibility</th>   
    <th>Date</th>
    <th>Owner ID</th>
    <th>Owned By</th>
    <th>Request</th>
  </tr>
  <tr class="nottop">
    <td>L 1</td>
    <td>Yes</td>    
    <td>${row1[2]}</td>
    <td>${row1[3]}</td>
    <td>${row1[4]}</td>
    <td><form action="${request.route_url('request')}" method="GET">Emp. NO. :<br>
<input type="text" name="empno" maxlength="4" size="6"><input type=hidden name="Lno" value="1"><input type="submit" value="Request"></form></td>
  </tr>
  <tr class="nottop">
    <td>L 2</td>
    <td>Yes</td>    
    <td>${row2[2]}</td>
     <td>${row2[3]}</td>
    <td>${row2[4]}</td>
    <td><form action="${request.route_url('request')}" method="GET">Emp. NO. :<br>
<input type="text" name="empno" maxlength="4" size="6"><input type=hidden name="Lno" value="2"><input type="submit" value="Request"></form></td>
  </tr>
  <tr class="nottop">
     <td>L 3</td>
    <td>Lost</td>   
    <td>${row3[2]}</td>
     <td>${row3[3]}</td>
    <td>${row3[4]}</td>
    <td><form action="${request.route_url('request')}" method="GET">Emp. NO. :<br>
<input type="text" name="empno" maxlength="4" size="6"><input type=hidden name="Lno" value="3"><input type="submit" value="Request"></form></td>
  </tr>
  <tr class="nottop">
     <td>L 4</td>
    <td>Yes</td>    
    <td>${row4[2]}</td>
     <td>${row4[3]}</td>
    <td>${row4[4]}</td>
    <td><form action="${request.route_url('request')}" method="GET">Emp. NO. :<br>
<input type="text" name="empno" maxlength="4" size="6"><input type=hidden name="Lno" value="4"><input type="submit" value="Request"></form></td>
  </tr>
</table>
          </div>
        </div>


        <div class="row">
          <div class="links">
            <ul>
              <li class="current-version">Generated by Pyramid v1.5.2</li>
              <li><i class="glyphicon glyphicon-bookmark icon-muted"></i><a href="http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/">Docs</a></li>
              <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="https://github.com/Pylons/pyramid">Github Project</a></li>
              <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="irc://irc.freenode.net#pyramid">IRC Channel</a></li>
              <li><i class="glyphicon glyphicon-home icon-muted"></i><a href="http://pylonsproject.org">Pylons Project</a></li>
          </div>
        </div>
        <div class="row">
          <div class="copyright">
            Copyright &copy; 2015 CDOT All Rights Reserved
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
