<!DOCTYPE html>
{% extends "mytemplate.jinja2" %}


              {% block rest %}
              <p class="lead"><span class="font-normal">Oops!</span> &nbsp;Selected Group <span class="font-normal">{{group}}</span>, does&nbsp;not&nbsp;exist <br>Select Again.</p>
            </div>
          </div>
        </div>
	{% endblock rest %}	

    
